html {
    font-family: Helvetica, Verdana, sans-serif;
    background-color: gray;
}

body {
    width: 80%;
    margin: auto;
    background-color: #deefef;
    min-height: 100vh;
    color: #1f1f1f;
}

button {
    margin: 1rem;
    border: none;
    color: white;
    background-color: dimgray;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

.container {
    margin: 0 1rem;
}

h1 {
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}

main {
    display: flex;
    background-color: #edffff;
    border: 2px solid black;
}

#start {
    margin: auto;
    width: 100%;
}

#start > button {
    width: 94%;
    margin: 1rem;
    box-sizing: content-box;
    font-size: 2rem;
}

#startPic {
    background-image: url('../kuvat/brickwall.jpg');
    max-width: 80%;
    max-height: 50%;

    margin: auto;
    display: block;
}

/*div {
    border: 1px solid black; devaamista varten
}*/

#map {
    height: 75vh;
    border: 2px solid black;
}

#game {
    flex: 4;
}

#sidebar {
    flex: 1;
    margin: 1rem;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    max-height: 70vh;
    box-sizing: border-box;
}

footer {
    bottom: 0;
}

#losetext {
    text-align: center;
}